<!doctype html>
<html lang="vi"
      layout:decorate="_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
>
<head>

</head>

<body>

<div layout:fragment="breadcrumb" class="mt-3">
    <ul class="main-menu">
        <li>
            <a th:href="@{/}">Home</a>
        </li>
        <li>
            <a th:href="@{/account/showAccount}">Account</a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a th:href="@{/user/users}">Users</a>
        </li>
        <li sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_STUDENT')">
            <a th:href="@{/classroom/index}">Classrooms</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a class="active" th:href="@{/login-register}">Login</a>
        </li>
    </ul>
</div>
<div class="main-wrapper" layout:fragment="main_body">
    <!-- Page Banner Start -->
    <div class="section page-banner-section bg-color-1">
        <img alt="shape" class="shape-4" th:src="@{/images/shape/shape-21.png}">
        <img alt="shape" class="shape-5" th:src="@{/images/shape/shape-21.png}">
        <div class="container">
            <!-- Course Details Banner Content Start -->
            <div class="course-details-banner-content">
                <div class="rating">
                    <div class="rating-star">
                        <div class="rating-active" style="width: 60%;"></div>
                    </div>
                    <span>(4.5)</span>
                </div>


                <h2 class="title" th:text="${classroom.getNameClass()}">2021 Complete Python Bootcamp From Zero
                    to Hero in Python </h2>

                <p th:text="${classroom.getDescriptionClass()}">Learn Python like a Professional Start from the
                    basics and go all the way to creating your own
                    applications and games </p>


                <div class="course-details-meta">


                    <div class="meta-action">
                        <p class="label">Code : <span th:text="${classroom.getCodeClass()}">2/12/2021</span></p>
                    </div>
                </div>
            </div>
            <!-- Course Details Banner Content End -->
        </div>
    </div>
    <!-- Page Banner End -->

    <!-- Course List Start -->
    <div class="section section-padding">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-xl-7 col-lg-8">

                    <!-- Course Details Wrapper Start -->
                    <div class="course-details-wrapper">

                        <!-- Course Overview Start -->
                        <div class="course-overview">
                            <h3 class="title">Course Overview</h3>
                            <p>World-class training and development programs developed by top teachers. Build skills
                                with courses, certificates, and degrees online from world-class universities and
                                companies. from the National Research University Higher School of Economics (HSE
                                University) is the first fully online.</p>
                        </div>


                        <!-- Course Overview End -->
                        <!-- Start news-->
                        <h3 class="title">Notification</h3>
                        <div class="course-learn-list" th:each="news: ${newsInClass}">
                            <div class="blog-image" style="width: 50px">
                                <a th:href="@{'/news/detail-news?newsId=' + ${news.getId()}}"><img th:src="@{/images/notification-flat.png}" alt="Notification"></a>
                            </div>
                            <div class="blog-content">
                                <div class="meta">
                                    <a th:href="@{'/news/detail-news?newsId=' + ${news.getId()}}" th:text="${news.getTimestamp()}"><i class="fa fa-calendar-o"></i> 01
                                        Jul, 2021</a>
                                </div>
                                <a th:href="@{'/news/detail-news?newsId=' + ${news.getId()}}"><h3 class="title"
                                                                                              th:text="${news.getTitle()}">
                                    LIVE SHOW:
                                    Business memes, dad lessons, selling to CROs</h3></a>
                                <p th:utext="${news.getContent()}"></p>

                            </div>
                        </div>
                        <!--End news-->
                        <div class="course-learn-list" th:each="homework: ${homeworkTeacherList}">
                            <div class="sidebar-course-item">
                                <div class="item-image">
                                    <a th:href="@{'/homework/getStudentHomework?classId='
                                    + ${classroom.id} + '&parentId=' + ${homework.id}}"><img alt="Courses"
                                                                                                        th:src="@{/images/homework.png}"></a>
                                </div>
                            </div>

                            <div class="item-content">
                                <h3 class="title">
                                    <a th:href="${homework.homeworkCode}"><i class="fa fa-download"></i> Download Homework </a> </h3>

                                    <h3 th:text="${homework.name}">

                                    </h3>

                                <span th:text="${homework.getDescription()}">World-class training and development programs
                                    developed by top teachers. Build skills
                                    with courses, certificates, and degrees online from world-class universities and
                                    companies. from the National Research University Higher School of Economics (HSE
                                    University) is the first fully online.</span>
                            </div>

                            <div sec:authorize="hasAuthority('ROLE_STUDENT')">
                                <div class="course-collapse-btn">
                                    <button class="btn collapsed" data-bs-target="#upload-homework"
                                            data-bs-toggle="modal"
                                            data-bs-whatever="create-classroom" type="button">
                                        <i class="fa fa-pencil-square-o"></i>
                                        Your submission
                                    </button>
                                </div>
                            </div>

                            <!--                            Start modal form-->
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                 id="upload-homework"
                                 tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form enctype="multipart/form-data" th:method="post"
                                                  th:action="@{/classroom/add-assignment}"
                                                  th:object="${homeworkObj}">
                                                <input name="classroomId" th:value="${classroom.id}" type="hidden">
                                                <div class="mb-3">
                                                    <input class="form-control" id="homeworkCode"
                                                           name="parentHomework" th:value="${homework.getId()}"
                                                           type="hidden">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label" for="homeworkName">Name</label>
                                                    <input class="form-control" id="homeworkName" required
                                                           th:field="*{name}" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label"
                                                           for="homeworkDescription">Description</label>
                                                    <input class="form-control" id="homeworkDescription" required
                                                           th:field="*{description}" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label" for="homeworkDescription">File</label>
                                                    <input class="form-control" id="formFile" name="file" type="file">
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                            type="button">
                                                        Close
                                                    </button>
                                                    <button class="btn btn-primary" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--                            End modal form-->
                        </div>

                        <!-- Course Review Start -->
                        <div class="course-review">
                            <h3 class="title">Review</h3>

                            <!-- Review Rating Start -->
                            <div class="review-rating">

                                <div class="rating-box">
                                    <span class="count">5.0</span>
                                    <div class="rating-star">
                                        <div class="rating-active" style="width: 60%;"></div>
                                    </div>
                                    <p>Total 2 Ratings</p>
                                </div>
                                <div class="rating-percentage">

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">5 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 90%;"></div>
                                        </div>
                                        <span class="label">90%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">4 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 40%;"></div>
                                        </div>
                                        <span class="label">40%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">3 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 20%;"></div>
                                        </div>
                                        <span class="label">20%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">2 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 0%;"></div>
                                        </div>
                                        <span class="label">0%</span>
                                    </div>
                                    <!-- Course Review End -->

                                    <!-- Course Review Start -->
                                    <div class="single-rating-percentage">
                                        <span class="label">1 Star</span>
                                        <div class="rating-line">
                                            <div class="line-bar" style="width: 10%;"></div>
                                        </div>
                                        <span class="label">10%</span>
                                    </div>
                                    <!-- Course Review End -->

                                </div>

                            </div>
                            <!-- Review Rating End -->

                            <!-- Review Items Start -->
                            <div class="review-items">
                                <ul>
                                    <li>
                                        <!-- Single Review Start -->
                                        <div class="single-review">
                                            <div class="review-author">
                                                <img alt="Author" th:src="@{/images/author-1.jpg}">
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top">
                                                    <h4 class="name">David Gea</h4>
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span class="date">4 Months Ago</span>
                                                </div>
                                                <p>World-class training and development programs developed by top
                                                    teachers. Build skills with courses, certificates, and degrees
                                                    online from world-class.</p>
                                            </div>
                                        </div>
                                        <!-- Single Review End -->
                                    </li>
                                    <li>
                                        <!-- Single Review Start -->
                                        <div class="single-review">
                                            <div class="review-author">
                                                <img alt="Author" th:src="@{/images/author-3.jpg}">
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top">
                                                    <h4 class="name">David Gea</h4>
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span class="date">4 Months Ago</span>
                                                </div>
                                                <p>World-class training and development programs developed by top
                                                    teachers. Build skills with courses, certificates, and degrees
                                                    online from world-class.</p>
                                            </div>
                                        </div>
                                        <!-- Single Review End -->
                                    </li>
                                </ul>
                            </div>
                            <!-- Review Items End -->

                        </div>
                        <!-- Course Review End -->

                    </div>
                    <!-- Course Details Wrapper End -->

                </div>

                <div class="col-lg-4">
                    <!-- Sidebar Wrapper Start -->
                    <div class="sidebar-details-wrap">
                        <!-- Sidebar Details Video Description Start -->
                        <div class="sidebar-details-video-description" sec:authorize="hasAuthority('ROLE_TEACHER')">
                            <div class="sidebar-description">
                                <div class="price">
                                    <span class="sale-price">New assignment</span>
                                </div>
                                <p class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></p>
                                <p class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></p>
                                <div>
                                    <form enctype="multipart/form-data" method="post"
                                          th:action="@{/classroom/add-assignment}"
                                          th:object="${homeworkObj}">
                                        <input name="classroomId" th:value="${classroom.id}" type="hidden">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="homeworkName2">Name</label>
                                            <input class="form-control" id="homeworkName2" required
                                                   th:field="*{name}" type="text">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" for="homeworkDescription2">Description</label>
                                            <input class="form-control" id="homeworkDescription2" required
                                                   th:field="*{description}" type="text">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" for="formFile2">File</label>
                                            <input class="form-control" id="formFile2" name="file" type="file">
                                        </div>
                                        <button class="btn btn-warning btn-hover-heading-color w-100" type="submit">
                                            Upload
                                        </button>
                                    </form>
                                </div>
                                <a class="btn btn-outline-primary w-100"
                                   th:href="@{'/news/index?classId=' + ${classroom.id}}">View news</a>

                                <a class="btn btn-outline-primary w-100"
                                   th:href="@{'/homework/index?classroomId=' + ${classroom.id}}"
                                   sec:authorize="hasAuthority('ROLE_TEACHER')">View homeworks</a>

                            </div>
                        </div>
                        <!-- Sidebar Details Video Description End -->

                        <!-- Sidebar Course Start -->
                        <div  sec:authorize="hasAuthority('ROLE_STUDENT')">
                            <div class="sidebar-details-course">
                                <h4 class="sidebar-details-title">Your homeworks</h4>

                                <ul class="sidebar-details-courses">
                                    <li th:each="homework: ${homeworkList}">
                                        <!-- Single Course Start -->
                                        <div class="sidebar-course-item">
                                            <div class="item-image">
                                                <a th:href="@{'/homework_list/download?id=' + ${homework.id}}"><img
                                                        alt="Courses"
                                                        th:src="@{/images/homework.png}"></a>
                                            </div>
                                            <div class="item-content">
                                                <h4><a
                                                        th:href="@{'/homework_list/download?id=' + ${homework.id}}"
                                                        th:text="${homework.getName() == null ? 'Untitled homework' : homework.getName()}"></a> <i class="fa fa-download"></i></h4>

                                                <h5 th:text="|Point: ${homework.getScore() == null ? 'Not graded yet' : homework.getScore() }|"
                                                    style="color: green"></h5>

                                                <h2 class="price" th:text="${homework.getParentHomework().getName()}">Price
                                                    <strong>$45</strong></h2>
                                            </div>
                                        </div>
                                        <!-- Single Course End -->
                                    </li>
                                </ul>
                            </div>
                            <!-- Sidebar Course End -->
                        </div>


                    </div>
                    <!-- Sidebar Wrapper End -->
                </div>
            </div>


        </div>
    </div>
    <!-- Course List End -->

</div>
</body>

</html>